
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 12.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 12.0

[submodule "humanytek-team/acs_invoice_merge"]
	path = humanytek-team/acs_invoice_merge
	url = git@github.com:humanytek-team/acs_invoice_merge.git
	branch = 12.0
